
.container{
    max-width: 1000px;
    margin: 70px auto;
    padding: 30px;
    display: flex;
    background: linear-gradient(to right, rgb(239, 187, 253), #a4b4ff);
    border-radius: 8px;
}

//.inc{
//background-color: #48b4d8;
//    color:#313245;
//    border: none;
//    font-size: 24px;
//    border-radius: 8px;
//    font-weight: bold;
//    box-shadow: 2px 2px 1px #205061;
//}
//.inc:hover {
//    background-color: #93d8fb;
//}
//.inc:active{
//    box-shadow: none;
//}
//.reset{
//    background-color: #48b4d8;
//    color:#313245;
//    border: none;
//    font-size: 24px;
//    border-radius: 8px;
//    font-weight: bold;
//    box-shadow: 2px 2px 1px #205061;
//}
//.reset:hover {
//    background-color: #93d8fb;
//}
//.reset:active{
//    box-shadow: none;
//}
//
//.count{
//    display: flex;
//    flex-direction: column;
//
//    background-color: #313245;
//    width: 300px;
//    margin: 0 auto;
//    color: #313245;
//    padding: 20px;
//    border: 4px solid #93d8fb;
//    border-radius: 8px;
//}
//.count__title{
//
//}
//h1{
//    color: white;
//    text-align: center;
//    letter-spacing: 1.3px ;
//
//}
//.count__btn {
//    display: flex;
//    justify-content: space-evenly;
//    margin-bottom: 5px;
//    border: 4px solid #93d8fb;
//    padding: 10px 20px;
//    border-radius: 8px;
//}
//.disabled {
//    background-color: #48b4d8;
//    opacity: 0.4;
//    box-shadow: none;
//}
//.redBred {
//    font-size: 30px;
//    color: red;
//}
//=====================================================================
